<!doctype html>
<html lang="en" >

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Paris Hair and beauty Website">
  <meta name="author" content="Avis Ejerenwa">
  <title> <%=(body)?body.title + " ·":"" %> Paris Beauty and Hair Studio</title>

  <!-- Icon -->
  <link rel='icon' href='img/logo/favicon-alt.png' type='image/x-icon' />


  <!-- font -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;500;700&display=swap" rel="stylesheet">

  <!-- Bootstrap core CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

  <!-- Font Awesone -->
  <script src="https://kit.fontawesome.com/5f30a8a83b.js" crossorigin="anonymous"></script>

  <!-- Stripe Implemetation -->
  <script src="https://js.stripe.com/v3/"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
  <script src="js/stripeClient.js" defer></script>


  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="css/stripe.css" />
  <link href="css/carousel.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">


</head>

<body class="">


  <div class="logo text-center m-2">

    <a class="" href="/home">
      <img src="img/logo/paris-primary-md.png" alt="PARIS HAIR & BEAUTY LOGO" class="logo" />
    </a>
  </div>


  <!-- Original Code -->
  <nav class="navbar navbar-bg-dark py-0 sticky-top navbar-expand">
    <div class="container d-flex justify-content-center">
      <a href="/home" class="nav-link nav-bl <%=(body.title === 'Home')? 'active':''  %> d-none d-sm-inline-block">
        <i class="fas fa-md fa-home me-1 "></i>
        <span class="d-none ">
          HOME
        </span>
      </a>
      <a href="/shop" class="nav-link <%=(body.title === 'Shop')? 'active':'' %> nav-bl nav-br">
        <i class="fas fa-md fa-shopping-cart me-1 d-none d-md-inline-block"></i>
        SHOP
      </a>
      <a href="#" onclick="loadStyles()" class="nav-link  nav-br " data-bs-toggle="modal" data-bs-target="#booking-form-modal">
        <i class="fas fa-md fa-calendar-alt me-1 d-none d-md-inline-block"></i>
        BOOK
      </a>
      <a href="/signin" class="nav-link <%=(body.title === 'SignIn')? 'active':'' %> nav-br">
        <i class="fas fa-md fa-user me-1 d-none d-md-inline-block"></i>
        <span class="">
          SIGNIN
        </span>
      </a>
      <a href="/cart" class=" <%=(body.title === 'Bag')? 'active':'' %> nav-link nav-br">
        <i class="fas fa-md fa-shopping-bag"></i>
      </a>
    </div>
  </nav>

  <!-- Booking Form -->
  <div class="modal fade" id="booking-form-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="booking-form" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content bordered-accent">
        <div class="modal-header bg-accent text-white">
          <h5 class="modal-title d-block m-auto" id="reviewLabel">Booking</h5>
          <a type="button" class="text-white" data-bs-dismiss="modal" aria-label="Close"><i class="far fa-lg fa-times-circle"></i></a>
        </div>
        <div class="modal-body">
          <%- include ("modal-bookingForm.ejs")  %>
        </div>

      </div>
    </div>
  </div>
