<!-- Display a payment form -->


<div id='stripeForm' class="mt-0">
  <form id='payment-form' class="pt-3">
    <div class="container ms-2">
      <div class="row ">
        <div class="col-12 mb-2">
          <h3 class="sub-header bordered">SUMMARY</h3>
        </div>
        <div class="row pe-0 mb-3 accordion-border">

          <div class="col-12">
            <span id="checkOutBase">BaseStyle</span>
             | <span class="text-small">
              <small> <span id="checkOutOption">Option</span></small>
            </span>
          </div>

        </div>
        <div class="row pe-0 mb-3 accordion-border">

          <div class="col-8">
            <span id="checkOutBase">Deposit</span>
          </div>
          <div class="col-4 text-end">
            $<span id="checkOutDeposit"> 25.00</span>
          </div>

        </div>
        <div class="row pe-0 mb-3 accordion-border">
          <div class="col-8">
            Tax
          </div>
          <div class="col-4 text-end">
            $ <span id="checkOutTax"> 5.00 </span>
          </div>
        </div>
        <div class="row pe-0 mb-3 accordion-border">
          <div class="col-8">
            Total
          </div>
          <div class="col-4 text-end">
            $ <span id="checkOutTotal">30.00</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row pt-4 mt-3 ">
      <div class="col-12">
        <div id='card-element' class="mb-3 ">
          <!--Stripe.js injects the Card Element-->
        </div>
      </div>
      <div class="col-12">
        <div class="row" id="checkoutButtons">

        <div class="col-3">
          <a type="" onclick="goToReviewPane()" class="btn btn-outline-danger py-2 d-block" name="" id="checkOutpreviousTabButton" value="">
            <i class="fas fa-arrow-circle-left"></i>
          </a>
        </div>
        <div class="col-9">
          <button id='submit' class="py-2 btn-outline-accent">
            <span id='button-text'>Pay</span>
            <div class='spinner hidden' id='spinner'></div>
          </button>
        </div>
      </div>

        <div class="col-12">
          <p id='card-error' role='alert'></p>
          <p class='result-message hidden'>
            Payment succeeded, see the result in your
            <a href='' target='_blank'>Stripe dashboard.</a> Refresh the page to pay again.
          </p>
        </div>
      </div>
    </div>

</div>
</form>
</div>

<!-- <div hidden class='d-none'>
        <input type='text' name='style' id='style' value='<%=purchase.baseStyle%>'>
        <input type='text' name='option' id='option' value='<%=purchase.styleOption%>'>
        <input type='Number' name='deposit' id='deposit' value='<%=purchase.deposit%>'>
        <input type='Number' name='tax' id='tax' value='<%=purchase.tax%>'>
        <input type='Number' name='total' id='total' value='<%=purchase.total%>'>
      </div> -->
