<%- include ("partials/header-home.ejs")  %>


<div class="p-5 image-display-container shadow">

  <%if (body.message){%>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <!-- <strong>Holy guacamole!</strong>  -->
    <%= body.message%>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <%}else if(body.error){%>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <!-- <strong>Holy guacamole!</strong>  -->
    <%= body.error%>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <%}%>

  <div class="container py-5">
    <div class="row  mt-lg-5 jumbo-container">
      <div class="col-12 ms-lg-5 ps-lg-5">
        <h1 class=" jumbo text-compliment">
          Alpharetta's #1 <br class="d-none d-sm-block" /> Beauty Spot!
        </h1>
        <p class="lead">
          Braids, Twists, Stitches, Takedowns and lots more, <br> Just name it and we got you covered!
        </p>
        <a class="btn rounded-pill btn-outline-accent" href="" onclick="loadStyles()" data-bs-toggle="modal" data-bs-target="#booking-form-modal">
          BOOK A SERVICE
        </a>
      </div>
    </div>
  </div>
</div>


<section class="new-services py-5" id="new-services">
  <div class="text-center mt-5 ">
    <div class='line-container'>
      <div class='line-icon'><img src="<%=(body)?body.domain:'' %>/img/logo/paris-mark-alt.png" class="icon" alt=""></div>
    </div>
    <h4 class="mb-0 header  text-uppercase">
      Services
    </h4>
    <div class='line-container'>
      <div class='line-icon lead'>
        How can we serve you today?
      </div>
    </div>
  </div>

<div class="container py-5 ">
  <div class="row  mt-3 align-items-center "  style="height:auto;">
    <div class="col-12 col-md-5 overflow-auto h-100">
      <!-- <div class="row g-2 mb-2">
         <div class="col-9 overflow-hidden">
           <img class="img-cover" src="<%=(body)?body.domain:'' %>/img/braids.jpg" alt="">
         </div>
         <div class="col-3 overflow-hidden ">
         <img class="img-cover" src="<%=(body)?body.domain:'' %>/img/services/pony.jpg" alt="">
         </div>
       </div> -->
       <div class="row g-2 mb-2">
         <div class="col-4 h-100">
           <div class="row g-2 mb-2">
             <div class="col-12 h-100">
               <img class="img-cover" src="<%=(body)?body.domain:'' %>/img/clients/3.jpeg" alt="">
             </div>
             <div class="col-12 h-100">
                <!-- <img class="img-cover" src="<%=(body)?body.domain:'' %>/img/clients/8.jpg" alt=""> -->
              </div>
            </div>
         </div>
          <div class="col-3 h-100">
            <div class="row g-2">
              <div class="col-12">
                <img class="img-cover" src="<%=(body)?body.domain:'' %>/img/clients/4.jpeg" alt="">
              </div>
              <div class="col-12">
                <img class="img-cover" src="<%=(body)?body.domain:'' %>/img/clients/7.jpg" alt="">
              </div>

            </div>
          </div>
          <div class="col-5 h-100">
            <div class="row g-2">
              <div class="col-12">
                <img class="img-cover" src="<%=(body)?body.domain:'' %>/img/clients/6.jpg" alt="">
              </div>
              <div class="col-12">
                <img class="img-cover" src="<%=(body)?body.domain:'' %>/img/clients/8.jpg" alt="">

                <!-- <img class="img-cover" src="<%=(body)?body.domain:'' %>/img/braids.jpg" alt=""> -->
              </div>
            </div>
          </div>
        </div>
    </div>

    <div class="col-12 col-md-7 ">
      <div class="py-5 px-5">

        <span class="py-2 d-block" style="color:#a7adb2;">When we say we got you? </span>
      <h5 class="sub-header ">
        We Really Got You Covered!
      </h5>
      <p>
      From Box braids, to twists, down to knotless braids and almost every other style you can think of!
      No Jokes! Book you appointments and see the beautiful you emerge!
      </p>


        <!-- <li class="ps-0 nav-link d-inline">Box Braids</li>
        <li class="nav-link d-inline">Crochet Braids</li>
        <li class="nav-link d-inline">Knotless Braids</li>
        <li class="nav-link d-inline">Twists</li>
        <li class="nav-link d-inline">Stitch Braids</li> -->

      <button  class="mt-4  btn rounded-pill d-block  btn-outline-accent" onclick="loadStyles()" data-bs-toggle="modal" data-bs-target="#booking-form-modal">BOOK NOW</button>

    </div>
    </div>
  </div>

  </div>


</section>


<!-- Styles Display -->
<section id="styles" class="bg-paris-mark py-5">
  <div class="container">
      <div class="text-center mt-5">
    <!-- <hr class="dotted-divider mt-4 mb-3" /> -->
    <div class='line-container'>
      <div class='line-icon'><img src="<%=(body)?body.domain:'' %>/img/logo/paris-mark-alt.png" class="icon" alt=""></div>
    </div>
    <h1 class="mb-0 header header-border text-uppercase">
      Style Up!
    </h1>
    <div class='line-container'>
      <div class='line-icon lead'>
        Define your looks<span class="d-none d-sm-inline">, pick from a variety of our unique styles </span> to match your person.
      </div>
    </div>
  </div>
  <div class="container my-3 py-5">
    <div class="row g-3">
      <div class="col-sm-3">
        <div onmouseover="showCardBody(this)" onmouseout="hideCardBody(this)" class="card h-100">
          <img src="<%=(body)?body.domain:'' %>/img/clients/7.jpg" class="card-img-top styles-card-image" alt="...">
          <div class="card-body px-3 d-none bg-overlay-dark card-img-overlay d-flex align-items-end">
            <div class="">
              <!-- <h6 class="card-title bordered  text-white">Blow</h6> -->
              <!-- <p class="card-text d-none d-lg-inline">Single line explanation of the style.</p> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div onmouseover="showCardBody(this)" onmouseout="hideCardBody(this)" class="card h-100">
          <img src="<%=(body)?body.domain:'' %>/img/clients/2.jpg" class="card-img-top styles-card-image" alt="...">
          <div class="card-body px-3 d-none bg-overlay-dark card-img-overlay d-flex align-items-end">
            <div class="">
              <!-- <h5 class="card-title bordered  text-white">Skin Care </h5> -->
              <!-- <p class="card-text d-none d-lg-inline">Single line explanation of the style.</p> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div onmouseover="showCardBody(this)" onmouseout="hideCardBody(this)" class="card h-100">
          <img src="<%=(body)?body.domain:'' %>/img/clients/11.jpg" class="card-img-top styles-card-image" alt="...">
          <div class="card-body px-3 d-none bg-overlay-dark card-img-overlay d-flex align-items-end">
            <div class="">
              <!-- <h5 class="card-title bordered  text-white">Pony Tail</h5> -->
              <!-- <p class="card-text d-none d-lg-inline">Single line explanation of the style.</p> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div onmouseover="showCardBody(this)" onmouseout="hideCardBody(this)" class="card h-100">
          <img src="<%=(body)?body.domain:'' %>/img/clients/5.jpg" class="card-img-top styles-card-image" alt="...">
          <div class="card-body px-3 d-none bg-overlay-dark card-img-overlay d-flex align-items-end">
            <div class="">
              <!-- <h5 class="card-title bordered  text-white">Eye Bags</h5> -->
              <!-- <p class="card-text d-none d-lg-inline">Single line explanation of the style.</p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center mb-4">
    <a href="" class="btn rounded-pill text-uppercase btn-outline-accent" onclick="loadStyles()" data-bs-toggle="modal" data-bs-target="#booking-form-modal">
      BOOK NOW
    </a>
  </div>
</div>

</section>

<!-- Testimonials -->
<section id="testimonials" class=" py-5">
  <div class="text-center mt-5">
    <!-- <hr class="dotted-divider mt-4 mb-3" /> -->
    <div class='line-container'>
      <div class='line-icon '><img src="<%=(body)?body.domain:'' %>/img/logo/paris-mark-alt.png" class="icon" alt=""></div>
    </div>
    <h1 class="mb-0 header header-border text-uppercase">
      Word On the Streets!
    </h1>
    <div class='line-container'>
      <div class='line-icon lead '>
        See what people are saying about us.
      </div>
    </div>

    <div class="container testimonial-pane mt-5 py-3">
      <div class="row justify-content-center">

        <!-- New Item -->
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 py-4">
          <div class="img-circle-container bg-light shadow-sm m-auto">
            <img src="<%=(body)?body.domain:'' %>/img/logo/paris-mark-alt.png" class="img-circle" alt="">
          </div>
          <div class='line-container mt-1 '>
            <div class=''>
              <i class="customer-name">
                <b>Jane Withica</b>
              </i>
            </div>
          </div>
          <p class="mt-1">
            Simply an Awesome place to make your hair.
          </p>
          <!-- <br> -->
          <div class="row justify-content-center d-none">
            <div class="col-2">
              <a href="#" class="text-facebook  fab  fa-facebook"></a>
            </div>
            <div class="col-2">
              <a href="#" class="text-instagram fab  fa-instagram"></a>
            </div>

            <div class="col-2">
              <a href="#" class="text-twitter fab  fa-twitter"></a>
            </div>
          </div>
        </div>

        <!-- New Item -->
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 py-4">
          <div class="img-circle-container bg-light shadow-sm m-auto">
            <img src="<%=(body)?body.domain:'' %>/img/logo/paris-mark-alt.png" class="img-circle" alt="">
          </div>
          <div class='line-container mt-1 '>
            <div class=''>
              <i class="customer-name">
                <b>Pamela Anderson</b>
              </i>
            </div>
          </div>
          <p class="mt-1">
            Great service, keep it up!.
          </p>
          <!-- <br> -->
          <div class="row justify-content-center d-none">
            <div class="col-2">
              <a href="#" class="text-facebook  fab  fa-facebook"></a>
            </div>
            <div class="col-2">
              <a href="#" class="text-instagram fab  fa-instagram"></a>
            </div>

            <div class="col-2">
              <a href="#" class="text-twitter fab  fa-twitter"></a>
            </div>
          </div>
        </div>

        <!-- New Item -->
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 py-4">
          <div class="img-circle-container bg-light shadow-sm m-auto">
            <img src="<%=(body)?body.domain:'' %>/img/logo/paris-mark-alt.png" class="img-circle opacity-25" alt="">
          </div>
          <div class='line-container mt-1 '>
            <div class=''>
              <i class="customer-name">
                <b>Victoria Palma</b>
              </i>
            </div>
          </div>
          <p class="mt-1">
            Very Nice Service, I felt very welcomed.
          </p>
          <!-- <br> -->
          <div class="row justify-content-center d-none">
            <div class="col-2">
              <a href="#" class="text-facebook  fab  fa-facebook"></a>
            </div>
            <div class="col-2">
              <a href="#" class="text-instagram fab  fa-instagram"></a>
            </div>

            <div class="col-2">
              <a href="#" class="text-twitter fab  fa-twitter"></a>
            </div>
          </div>
        </div>

      </div>
    </div>
</section>

<%- include ("partials/footer.ejs") %>
